<div class="card_navbar">
  <%= link_to 'Back', lists_path, class: "btn btn-primary rounded"%>
</div>
<div id="card_picture">
</div>
<div id="card_list">
  <h1><%= @list.name %></h1>
  <%= link_to 'Bookmark', new_list_bookmark_path(@list.id), class: "btn btn-primary" %>
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <%= link_to 'Delete', bookmark_path(bookmark.id), data: { turbo_method: :delete}, class: "btn btn-danger" %>
    <% end %>
  </ul>
</div>
